.button {
    -fx-background-color: WHITE;
    -fx-text-fill: #424874;
    -fx-alignment: BASELINE_CENTER;
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: lighter;
    -fx-background-radius: 15px;
    -fx-border-color: #424874;
    -fx-border-width: 1;
    -fx-border-radius: 15px;
}

.button:hover {
    -fx-text-fill: WHITE;
    -fx-background-color: #424874;
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 10, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #424874;
    -fx-text-fill: WHITE;
    -fx-translate-y: 3px;
}

#currentButton {
    -fx-text-fill: WHITE;
    -fx-background-color: #424874;
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 10, 0, 0, 0);
}

#searchButton {
    -fx-border-width: 0;
    -fx-background-color: transparent;
}


#searchBar {
    -fx-background-color: #A6B1E1;
    -fx-background-radius: 10 0 0 0;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
    -fx-border-radius: 10 0 0 0;
    -fx-prompt-text-fill: #424874;
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: lighter;
    -fx-text-fill: #424874;
    -fx-padding: 10px;
    -fx-background-insets: 0;
    -fx-faint-focus-color: transparent;
}

#searchBar:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 10, 0, 0, 0);
}

#choiceButton {
    -fx-background-color: #A6B1E1;
    -fx-background-radius: 0 10 0 0;
    -fx-border-color: #424874;
    -fx-border-width: 0.5;
    -fx-border-radius: 0 10 0 0;
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: lighter;
    -fx-text-fill: #424874;
    -fx-padding: 0px;
    -fx-background-insets: 0;
}

#choiceButton:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 10, 0, 0, 0);
}

.table-view:hover {
    -fx-effect: dropshadow(three-pass-box, rgb(66, 72, 116), 5, 0, 0, 0);
}

.table-view {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: #424874;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 1;
}

.table-view .column-header {
    -fx-background-color: #A6B1E1;
}

.table-view .column-header .label {
    -fx-background-color: #A6B1E1;
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 0;
    -fx-text-fill: #424874;
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans";
    -fx-font-weight: lighter;
    -fx-padding: 7px;
    -fx-alignment: CENTER-LEFT;
}


.table-view .cell {
    -fx-background-color: #ffffff;
    -fx-border-width: 0;
    -fx-font-size: 16px;
    -fx-text-fill: #424874;
    -fx-font-family: "Open Sans";
    -fx-font-weight: lighter;
    -fx-padding: 5px;
}

.table-view .cell:hover {
    -fx-font-weight: bold;
}

.table-view .cell:selected {
    -fx-background-color: #a6b1e1;
    -fx-text-fill: #424874;
    -fx-font-weight: bold;
}

.scroll-bar .thumb {
    -fx-background-color: #424874;
    -fx-background-radius: 20px;
}

.scroll-bar .track {
    -fx-background-color: #a6b1e1;
    -fx-background-radius: 20px;
}


#addButton {
    -fx-rotate: 90;
    -fx-border-radius: 20 0 0 0;
    -fx-background-radius: 20 0 0 0;
    -fx-border-color: #424874;
    -fx-effect: none;
}

#showButton {
    -fx-rotate: 90;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: #424874;
    -fx-effect: none;
}

#editButton {
    -fx-rotate: 90;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: #424874;
    -fx-effect: none;
}

#removeButton {
    -fx-rotate: 90;
    -fx-border-radius: 0 20 0 0;
    -fx-background-radius: 0 20 0 0;
    -fx-border-color: #424874;
    -fx-effect: none;
}